[submodule "build_toolzzz"]
	path = build_toolzzz
	url = https://github.com/Le0nX/build_toolzzz.git
[submodule "AndroidApp"]
	path = AndroidApp
	url = https://github.com/komochek32/AndroidApp.git
[submodule "web"]
	path = web
	url = https://github.com/XROBOTICS/web.git
[submodule "web_server"]
	path = web_server
	url = https://github.com/Le0nX/web_server.git
